<section class="tasks-section" aria-label="Lista de tareas">
    <div class="search-container">
        <label for="buscadorTareas" class="visually-hidden">Buscar tareas</label>
        <input type="search" class="search-bar" placeholder="Buscar tareas..." id="buscadorTareas"
            aria-label="Buscar tareas" />
    </div>

    <ul class="tasks-list" role="list">

    </ul>

    <footer class="tasks-footer">
        <button class="button filter-button" type="button">Completadas</button>
        <button class="button filter-button" type="button">Pendientes</button>
        <button class="button filter-button" type="button">Todas</button>
    </footer>
</section>