*{
  margin: 0;
  
}
body{
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(37, 37, 82);
}

.title{
  font-family: Arial;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 100, 252);
  height: 20vh;
}
.container{
 display: flex;
 margin: auto;
 margin-top: 20px;
 width: 95%;
}
.buttom{
  background-color: rgb(18, 100, 252);
  border-color: rgb(18, 100, 252);
  padding: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  color: white;
  font-weight: 600;
}